* {
    margin: 0;
    padding: 0;
}

form {
    background-color: #dff9ed;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 20px 10px;
    width: 400px;
    box-shadow: 0 0 10px  rgba(0, 0, 0, .2);
    border-radius: 3px;
}

form > div {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    
}

/* .radio-rating {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} */

select {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid lightgray;
    width: 200px;
}
input {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid lightgray;
    width: 200px;
}

input:focus {
    box-shadow: 0 0 5px 5px #4A8D94;
}

input[type=checkbox] {
    width: auto;
}

.rating {
    margin: 10px auto;
    padding: 0;
    display: inline-block;
    position: relative;
    line-height: 50px;
    font-size: 2em;
  }
  
  .rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
  }
  
  .rating label:last-child {
    position: static;
  }
  
  .rating label:nth-child(1) {
    z-index: 5;
  }
  
  .rating label:nth-child(2) {
    z-index: 4;
  }
  
  .rating label:nth-child(3) {
    z-index: 3;
  }
  
  .rating label:nth-child(4) {
    z-index: 2;
  }
  
  .rating label:nth-child(5) {
    z-index: 1;
  }
  
  .rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  
  .rating label .icon {
    float: left;
    color: transparent;
  }
  
  .rating label:last-child .icon {
    color: #000;
  }
  
  .rating:not(:hover) label input:checked ~ .icon,
  .rating:hover label:hover input ~ .icon {
    color: #4A8D94;
  }
  
  .rating label input:focus:not(:checked) ~ .icon:last-child {
    color: #000;
    text-shadow: 0 0 5px #4A8D94;
  }

input[type=submit] {
    padding: 10px 20px;
    border-radius: 3px;
    background-color: #4A8D94;
    font-size: 1.1em;
    color: white;
    margin: 0 auto;
}

input[type=submit]:hover {
    background-color: #FBA3A8;
}